.SignIn {
    height: 100vh;
    display: flex;
    font-family: 'Poppins';

    .image {
        width: 50%;
        border-radius: 10px;
        margin: 5px;
        background-image: url(../../assets/signup.png);
        background-size: cover;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .heading {
            font-size: 37px;
            font-weight: 600;
            line-height: 55.5px;
            color: white;
        }

        .subtext {
            font-size: 15px;
            line-height: 22.5px;
        }

    }

    .form {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formcontent {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .signinheading {
            font-size: 30px;
            font-weight: 500;
            line-height: 45px;
            text-align: left;
            color: #14183E;
        }

        .email,
        .password,.name {
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 2px solid #14183E;
            color: #4E4E4E;
            margin-top: 40px;
        }

        .loginbtn {
            width: 100%;
            background-color: #14183E;
            height: 50px;
            border: none;
            color: white;
            text-align: center;
            font-weight: bold;
            margin-top: 40px;
            border-radius: 5px;
        }

        .noaccount {
            color: #14183E;
            font-size: 18px;
            padding-top: 17px;
            span{
                color: #4F4F4F;
            }
            .redirectlink {
                    cursor: pointer;
                    padding-left: 5px;
                    color: #14183E;
                }
        }

        

        .borderline {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #4F4F4F;
            font-size: 18px;
            margin-top: 34px;

            hr {
                width: 100%;
                border: 1px solid #4F4F4F;
            }

            span {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        .sociallogin {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
            width: 100%;
            gap: 20px;
            color: #4F4F4F;
            cursor: pointer;

            span {
                cursor: text;
            }
        }
    }
}