.SignIn{
    height: 100vh;
    border: 1px solid red;
    display: flex;
    .image{
        width: 50%;
        border: 1px solid green;
        border-radius: 10px;
        margin: 5px;
        background-image: url(../../assets/signin.png);
        background-size: cover;
        font-family: 'Poppins';
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .heading{
            font-size: 37px;
            font-weight: 600;
            line-height: 55.5px;
            color: white;
        }
        .subtext{
            font-size: 15px;
            line-height: 22.5px;
        }
        
    }
    .form{
        width: 50%;
        border: 1px solid blue;
    }
}