@import '../../utils/sass/variables.scss';

.tourList{
    display: flex;
    flex-direction: column;

    .top{
        width: 100%;
        min-height: 350px;
        padding: 170px 0px 17px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: url(../../assets/listTourBackground.png);
        background-size: cover;
        gap: 50px;

        .title{
            width: 90%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 32px;
            line-height: 36px;
            color: #FFFFFF;
            margin: 0 auto;
        }

        @media screen and (max-width: 550px) {
            padding: 130px 0px 17px;
            .title{
                font-size: 24px;
                line-height: 28px;
            }
        }

    }
    .main{
        display: flex;
        padding: 30px 60px 100px;
        background-color:  #EBF0F4;
        
        .filterBox{
            display: flex;
            width: 25%;
            height: max-content;
            background: #FFFFFF;
            border-radius: 15px;
            flex-direction: column;
            font-family: 'Poppins';
            font-style: normal;

            .filterTop{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
                background: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $primary-color;
                border-bottom: 1px solid #4F4F4F33;
                padding: 14px 22px;
                border-radius: 15px 15px 0px 0px;
                span{
                    span{
                        color: $secondary-color;
                    }
                }
            }
            .middle{
                display: flex;
                flex-direction: column;
                padding: 14px 22px;
                gap: 10px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $primary-color;
                border-bottom: 1px solid #4F4F4F33;

                .range{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .rangeInfo{
                        display: flex;
                        justify-content: space-between;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        text-align: center;
                        color: $secondary-color;
                    }
                }
            }
            .bottom{
                display: flex;
                flex-direction: column;
                padding: 14px 22px;
                gap: 11px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $primary-color;
                .checkBox{
                    display: flex;
                    gap: 11px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    color: $quaternary;
                }
                .resetButton{
                    width: 134px;
                    height: 46px;
                    display: flex;
                    background: $primary-color;
                    border-radius: 38px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: justify;
                    color: #FFFFFF;
                    justify-content: center;
                    align-items: center;
                    margin: 7px auto;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    &:hover{
                        background: $hover-primary;
                    }
                }

            }
        }
        .list{
            display: flex;
            flex-direction: column;
            width: 75%;
            align-items: flex-end;
            gap: 15px;
        }

        @media screen and (max-width: 1100px) {
            flex-direction: column;
            gap: 30px;
            padding: 30px 60px 50px;
            
            .filterBox{
                width: 100%;
            }
            .list{
                width: 100%;
            }
        }

        @media screen and (max-width: 550px) {
            padding: 30px 20px 50px;
        }
    }
}