@import '../../../utils/sass/variables.scss';
.heroSection{
    display: flex;
    background-image: url('../../../assets/heroSectionBackground.png');
    min-height: 600px;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
    .main{
        width: 100%;
        padding: 100px 68px 0px;
        .heading{
            font-family: 'Poppins';
            font-style: normal;    
            font-weight: 700;
            font-size: 47px;
            line-height: 70px;
            color: #FFFFFF;
            span{
                width: 100%;
                display: block;
            }

            @media screen and (max-width: 950px) {
                width: 100%;
                font-size: 40px;
                line-height: 60px;
                text-align: center;
                span{
                    text-align: center;
                }
            }
        }
        @media screen and (max-width: 950px) {
            width: 90%;
            padding: 100px 0px 30px;
        }
    }
    .searchBarContainer{
        width: 100%;
    }
}