@import '../../utils/sass/variables.scss';

.privateTour{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;

    .top{
        width: 100%;
        min-height: 350px;
        padding: 0px 0px 17px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(../../assets/privateTourImage.png);
        background-size: cover;
        background-position: center;


        .title{
            position: absolute;
            top: 100px;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            padding: 20px;
        }

        @media screen and (max-width: 920px){
            .title{
                font-size: 30px;
                line-height: 45px;
                text-align: center;
            }
        }
        @media screen and (max-width: 475px){
            .title{
                font-size: 22px;
                line-height: 36px;
                text-align: center;
            }
        }
        .stepContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 40%;
            height: 150px;
            position: absolute;
            top: 170px;

            .step1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .circle{
                    width: 60px;
                    height: 60px;
                    background-color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
                .step1Text{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 27px;
                    color: #FFFFFF;
                    // padding: 10px;
                }
                @media screen and (max-width:480px) {
            .step1Text{
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
               
            }
            
        }
                .step1Desc{
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 17px;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    // padding: 10px;
                }
                @media screen and (max-width:480px) {
            .step1Desc{
                font-weight: 500;
               
            }
            
        }
            }
        }
        @media screen and (max-width:768px) {
            .stepContainer{
                width: 80%;
                height: 150px;
                position: absolute;
                top: 170px;
            }
            
        }
        @media screen and (max-width:480px) {
            .stepContainer{
                width: 90%;
               
            }
            
        }
        @media screen and (max-width:380px) {
            .stepContainer{
                width: 95%;
               
            }
            
        }
    }}